[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bupaR"]
	path = bupaR
	url = https://github.com/bupaverse/bupar
	shallow = true
	registered = true
[submodule "daqapo"]
	path = daqapo
	url = https://github.com/bupaverse/daqapo
	shallow = true
	registered = true
[submodule "edeaR"]
	path = edeaR
	url = https://github.com/bupaverse/edear
	shallow = true
	registered = true
[submodule "eventdataR"]
	path = eventdataR
	url = https://github.com/bupaverse/eventdatar
	shallow = true
	registered = true
[submodule "heuristicsmineR"]
	path = heuristicsmineR
	url = https://github.com/bupaverse/heuristicsminer
	shallow = true
	registered = true
[submodule "processmapR"]
	path = processmapR
	url = https://github.com/bupaverse/processmapr
	shallow = true
	registered = true
