[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bupaR"]
	path = bupaR
	url = https://github.com/bupaverse/bupar
[submodule "bupaverse"]
	path = bupaverse
	url = https://github.com/bupaverse/bupaverse
[submodule "daqapo"]
	path = daqapo
	url = https://github.com/bupaverse/daqapo
[submodule "edeaR"]
	path = edeaR
	url = https://github.com/bupaverse/edear
[submodule "eventdataR"]
	path = eventdataR
	url = https://github.com/bupaverse/eventdatar
[submodule "heuristicsmineR"]
	path = heuristicsmineR
	url = https://github.com/bupaverse/heuristicsminer
[submodule "petrinetR"]
	path = petrinetR
	url = https://github.com/bupaverse/petrinetr
[submodule "processcheckR"]
	path = processcheckR
	url = https://github.com/bupaverse/processcheckr
[submodule "processmapR"]
	path = processmapR
	url = https://github.com/bupaverse/processmapr
[submodule "processmonitR"]
	path = processmonitR
	url = https://github.com/bupaverse/processmonitr
[submodule "psmineR"]
	path = psmineR
	url = https://github.com/bupaverse/psminer
